/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

a {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


div#mainBg {
  background-width: 100%;
  background-image: url("../img/asset/bg.png");
  background-repeat: repeat-x;
}

div#mainPanel {
  width: 90%;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

form  { display: block;      }

div.leftIndent {
  width: 90%;
  margin-left: 5%;
}

div.rightIndent {
  margin-right: 5%;
}

div.startLine {
  margin-top: 10px;
}

div.startPanel {
  margin-top: 20px;
}

label.fullLabel {
  margin-right: 5%;
}

div.leftDiv {
  vertical-align: top;
  height: 35px;
  display: inline-block;
  width: 20%;
}

div.rightDiv {
  vertical-align: top;
  height: 35px;
  display: inline-block;
  width: 75%;
}

input.textInput {
  height: 100%;
}

input.fullInput {
  width: 100%;
}

input[type="checkbox"] {
  margin-right: 5px;
}

div.centerAlign {
  text-align: center;
}

div#mainPanel {width: 90%;}

img {
  width: 100%;
  height: auto;
}

div#submitDiv {
  position: relative;
}

input.submitButton {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background:none;
  border: none;
  color: #FFFFFF;
  font-size: 20px
}

div#subPanel {
  display: none;
}

div#mainForm {
  background-color: white;
  background-width: 90%;
  background-position: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}









/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}
